:root {
	--clr-primary-200: #f3eed9;
	--clr-primary-400: red;

	--clr-neutral-100: #fff;
	--clr-neutral-900: #222c2a;

	--ff-primary: 'Roboto', sans-serif;
	--ff-accent: 'Playfair Display', serif;
	--heaer-text-color: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--ff-primary);
	line-height: 1.6;
}
article {
	max-width: 900px;
	margin: 0 auto;
}

h1,
h3 {
	color: var(--heaer-text-color);
	font-family: var(--ff-accent);
	font-weight: 900;
}

header,
footer {
	background-color: navy;
	border: 1px solid navy;
	color: #fff;
	font-family: 'Antonio', sans-serif;
	padding: 0.25rem;
	text-align: center;
}

h2 {
	color: rgb(57, 51, 51);
  text-align: center;
  margin: 0;
}

img {
	display: block;
	max-width: 100px;
	float: right;
	border-radius: 5px;
  position: relative;
  top: -50px;
}

header,
footer {
	background-color: blue;
	border-radius: 5px;
}

section ul {
  list-style-type: none;
}

a:link {
  color:var(--clr-neutral-900);
}

a.footer-link:visited {
  color: var(--heaer-text-color);
}

/* visited link */
a:visited {
  color: rgb(0, 58, 128);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

