body {
    margin: 0 auto;
    max-width: 948px;
  }
  
  html, body {
    font-family: 'Roboto';
}

  .card-container {
    align-items: start;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, 300px);
  }
  
  
  header,
  footer {
    text-align: center;
  }
  header {
    background-color: #143601;
    color: #f2f2f2;
  }
  
  .card {
    background-color: #eee;
    border-radius: 10px;
    color: black;
    border: 1px solid #bbb;
  }
  .card h1 {
    font-size: 1em;
    padding: 0.5em;
    margin: 0;
    background-color: #538d22   ;
    color: #eee;
  }
  .card p {
    font-size: 0.75em;
    padding-left: 10px;
  }
  img {
    width: 280px;
    height: auto;
    padding-left: 10px;
  }
  